
*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{

    position: relative;
    width: 100%;
    background-color: rgb(20, 10, 10);

}

nav{

    display: flex;
    background-color: #fff;
    margin: auto;
    padding: 20px 10%;
    align-items: center;
    justify-content: space-between;
   
   

}


nav ul li{

    display: inline-block;
    list-style: none;
    margin: 20px;

}nav .image{

    width: 13%;
    border-radius: 50%;
}
nav ul li a{


    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 23px;
}
nav ul li a:hover{

    color: rgb(209, 127, 27);


}


.hero .home{


    box-sizing: border-box;
    display: grid;
    width: 84%;
    grid-template-columns: repeat(2,45%);
    margin: auto;
    gap: 4%; 
    grid-template-areas:  
    "a b"; 
   margin-top: 30px; 
   
    
}

.home .detel{

    background-color: bisque;
    grid-area: a;
    display: flex;
    flex-direction: column;
    padding: 15%;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.detel h1{

    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;

}

span{

    color: orange;
}
.detel p{

    color: #555;
    line-height: 22px;
    font-weight: bolder;

}
.detel a{

    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 30px;
    border: 5px;
    border-radius: 6px;

}

.home .images{

    align-items: center;
    grid-area: b; 
    border-radius: 7%;
    background-color: bisque; 
    display: flex; 


}
.home .images > img{


    width: 40%;
    margin: auto;
    display: block;
    
    
    
   
    
}

.container{

    display: grid;
    width: 94%;
    
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    margin: auto;
    text-align: center;
    margin-top: 40px;

}
.container .box > img{
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;


}.container .box {
   
   box-sizing: border-box;
   margin: 10px 0; 
   border: 2px solid burlywood;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: white;
    
}
.box > div{

  
    margin-top: 3px;
    padding-left: none;
}
.tool{

    font-size :45px;
    color: #fff;

}#skill{


    padding: 2%;
    margin-top: 50px;
    margin-bottom: 30px;
}
.box .text{

    padding: 5%;
}


#about{
    padding: 80px 0;
    color: #ababab;
   

}
.row{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{

    flex-basis: 35%;

}
.about-col-2{
    flex-basis: 60%; 
}
 .about-col-1 img {

    width: 65%;
    border-radius: 15px; 
    margin: auto;
    display: block; 

}.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: rgb(228, 140, 58);
}

.tab-titles{

    display: flex;
    margin: 20px 0 40px;

}
.tab-links{

    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    margin-right: 50px;


}

.tab-links::after{

    content: '';
    width: 0; 
    height: 3px;
    background: #ff004f; 
    left: 0;
    position: absolute;
    bottom: -8px;
    transition: 0.5s;


}

.tab-links.active-link::after { 

    width: 50%; 

}
.tab-contents ul li { 

 
   margin: 10px 2px;


}
.tab-contents ul li span {

   color: #ad5973;


}.tab-contents{
   display: none;
}.tab-contents.active-tab{

   display: block;
}

.row1{

    color: white;
    padding: 0 50% 0 4%; 
    line-height: 45px;
    

}
.sub-title{

    font-size: 45px;
    text-align: center;
    color: orange;

} .social-icons{

 
    display: flex;
    width: 70%;
    padding: 10px;
    


}.social-icons > div {

border: 2px solid rgb(169, 143, 9);
padding: 10px;
border-radius: 3px;
background-color: white;
width: 20%;
margin: auto;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



}.social-icons >div  img {

    width: 70%; 
    margin: auto;
    display: block;


}
.social-icons > div:hover {

    background-color: blueviolet;

}#contact{

    margin-top: 40px;

}

 
.stat{

    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    color: white;
    font-weight: 700;
    font-family: bold;

}.stat  .one {

    box-sizing: border-box;
    padding: 25px;
    text-align: center;

}
.stat .one .circle1{

    border: 8px solid rgb(64, 35, 194);
    height: 90px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; 


}
.stat .one .circle2{

    border: 8px solid rgb(116, 3, 128);
    height: 90px;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   


}

#projects{
    background-color: black;
    margin-bottom: 30px;
}

.rows{
    display: flex;
    padding: 30px;
    box-sizing: border-box;
   

}.rows .col1{
  
    flex-basis: 40%;
    margin: auto;
    height: 100%;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 12px; 
    background-color: rgb(13, 89, 165);
    box-sizing: border-box;
}
.propic{

    padding: 20px 0; 
    border-radius: 15px;
    border: 3px solid rgb(212, 41, 41);
    
    
}.propic > img {

    width: 90%;
    margin: auto;
    display: block;


}
.col1 span{

    font-size: 24px;
    color: rgb(223, 131, 51);

}.innerbox{

    display: flex;
    justify-content: space-evenly;

}.innerbox button{
   
    padding: 15px;
    font-size: 17px;
    background-color: rgb(120, 23, 210);
    border-radius: 5px; 

}
    


@media  (min-width:720px) and (max-width:900px) { 


    nav ul li a{

       
        font-size: 18px;

    }
    nav{

        width: 95%;
        padding: 5px 0px;
        justify-content: space-evenly
        
    }
    

    .detel h1{

        font-size: 40px;
       
    }

    nav ul li a{

       
        font-weight: bold;
        font-size: small;

    }

    .container{

        
        display: grid;
        width: 80%; 
        grid-template-columns: repeat(3,1fr);
        gap: 30px; 
       
       
    
    }
    .container .box > img{


        width: 50%;
        margin: auto;
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    
    
    }

   
    
}

@media  (min-width:480px) and (max-width:720px) { 

    nav{

        width: 95%;
        padding: 5px 0px;
        justify-content: space-evenly
        
    }

    .home{

        grid-template-columns: 80%;
        margin: auto;
        grid-template-areas:  
        "b"
        "a";
        
    }
    .home .detel{

       
        margin: auto;

    }

    .detel h1{

        font-size: 35px;
       
    }

    nav ul li a{

       
        font-weight: bold;
        font-size: x-small;
    }
    .home .images > img{


        width: 70%;
        
        
    }


    .container{

        display: grid;
        width: 80%;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
       

    }

    .tool{

        font-size :35px;
        text-align: center;

    }


    .row{

        display: block;
        
    }

    .about-col-2{

        padding: 10%; 


    }
    .about-col-1 img{

            width: 50%;

    }

    .row1{

        padding: 10%;
        

    }
   .sub-title{

        font-size: 40px;
       

   } .social-icons{

     
        display: flex;
        width: 75%; 
        padding: 10px;
        


   }.social-icons > div {

    border: 2px solid rgb(169, 143, 9);
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    width: 20%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    
   }.social-icons >div  img {

        width: 70%;

    }
   
    .stat{

        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        background-color: black;
        color: white;
        font-weight: 700;
        font-family: bold; 

    }

    .rows{
        display: block;
        padding: 50px; 

    }.rows .col1{
        width: 80%;
        margin: auto;
        border: 2px solid green;
        margin-bottom: 20px;
        padding: 25px;
    }
    .innerbox button{

        padding: 8px;
       
    }



    
}

@media  (max-width:480px)  {

    nav{

        display: block;
        width: 84%;
        align-items: center;
       
    
    }
    nav ul{

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li{

        display: block;
       
        
    
    }nav .image{
    
        width: 50%;
        border-radius: 50%;
        margin: auto;
        display: block;
    }

    .home .images > img{


        width: 70%;
       
        
    }

    nav ul li a{

        font-weight: bold;
        font-size: 25px;


    }
    .home{

        grid-template-columns: 100%;
        grid-template-areas:  
        "b"
        "a";
        
    }
    .home .detel{

        width: 70%;
        margin: auto;

    }

    .detel h1{

        font-size: 30px;
       
    }

    .container{

        width: 60%;
        grid-template-columns: repeat(1,1fr);
    

    }

    .tool{

        font-size :25px;
        text-align: center;


    }
    #skill{

        margin-top: 50px;
    }

    .row{

        display: block;
        
    }

    .about-col-2{

        padding: 10%; 


    }
    .tab-titles{

            display: block;
           

    }
    .tab-titles .tab-links{

        margin-top :20px ;

    }

    .about-col-1 img{

            width: 45%;
          
    }

    .row1{

        background-color: black;
        color: white;
        padding: 10%;
        

    }
   .sub-title{

        font-size: 40px;
       

   } .social-icons{

     
        display: flex;
        width: 90%;
        padding: 10px;
        


   }.social-icons >div  img {

        width: 70%; 
        margin: auto;
        display: block;


    }

    
    .stat{

                
        display: block;

        background-color: black;
        color: white;
        font-weight: 700;
        font-family: bold; 

    }
    .stat .one{

        width: 200px;
        margin: auto;
    }

    .rows{
        display: block;
        padding: 20px; 

    }.rows .col1{

        width: 88%;
        margin: auto;
        border: 2px solid green;
        margin-bottom: 20px;
        padding: 16px;
    }
    .innerbox{

        display: block;
        

    }
    .innerbox button{

        padding: 8px;
        width: 80%;
        margin: auto;
        display: block;
    
 }

   
                        


}




